h1 Cb++
form
  p
    label
      input(type="checkbox", name="hideVideo" checked=(hideVideo))
      |  Hide video
  p
    label
      input(type="checkbox", name="hideThumbnails" checked=(hideThumbnails))
      |  Hide video thumbmails
