div.header
  h1 Cb++

div.main
  form
    h2 Dev options
    div
      label
        input(type="checkbox", name="reduceNoise")
        |  Reduce noise
    div
      label
        input(type="checkbox", name="hideVideo")
        |  Hide video
    div
      label
        input(type="checkbox", name="hideThumbnails")
        |  Hide thumbmails

  div
    h2 Backup
    p
      button(id="export") Download backup file

  div
    h2 Restore backup
    table.steps
      tr
        th 1
        td
          label.file
            | Select backup file
            input(type="file",name="file",id="import")
          h4 [No file selected]
          p#backupDescription
      tr.contingent
        th 2
        td
          button(id="restore") Restore backup
          p#backupResult
