h1 Cb++

div.main
  form
    h2 Dev options
    div
      label
        input(type="checkbox", name="reduceNoise")
        |  Reduce noise
    div
      label
        input(type="checkbox", name="hideVideo")
        |  Hide video
    div
      label
        input(type="checkbox", name="hideThumbnails")
        |  Hide thumbmails

  div
    h2 Backup
    p
      button(id="export") Generate backup file

  div
    h2 Restore backup
    p
      input(type="file",id="import")
