h1 Options
form
  label
    input(type="checkbox", name="hideVideo" checked=(hideVideo))
    | Hide video
  label
    input(type="checkbox", name="hideThumbnails" checked=(hideThumbnails))
    | Hide video thumbmails
  label
    input(type="text", name="fallbackUsername")
    | Fallback username (when browsing Chaturbate anonymously)
