manifest_version: 2
name: "CB++"
short_name: "CB++"
description: "Improvements for Chaturbate"
version: "[placeholder]"
author: "Braveg1rl"

permissions: [
	"storage",
	"https://*.chaturbate.com/"
]

icons:
	"16": "icons/icon16.png"
	"32": "icons/icon16.png"
	"48": "icons/icon16.png"

web_accessible_resources: [
	"icons/icon16.png"
]

content_scripts: [
	{
		matches: [ "https://*.chaturbate.com/*"]
		js: [ "js/contentscript.js" ]
		css: [ "css/chaturbate.css"]
	}
]

background:
	scripts: ["js/eventpage.js"]
	persistent: true

browser_action:
	default_icon: "icons/icon16.png"
	default_popup: "popup.html"

options_ui:
	page: "options.html"
	chrome_style: true
	open_in_tab: false
